---
layout: base.njk
navActive: work
title: "Laura Junco"
permalink: /index.html
---

<section class="work">
  {% for project in collections.work %}
    <a
      class="project"
      href="./work/{{ project.fileSlug }}/"
    >
      <img
        loading="lazy"
        src="{{ project.data.image }}"
        alt="{{ project.data.title }}"
      />
      <p>{{ project.data.title }}</p>
    </a>
  {% endfor %}
</section>
