<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" type="image/png" href="/assets/icon.png" />
    <meta name="description" content="{{ description | default(site.description) }}" />
    <title>{{ title | default(site.name) }}</title>
    <meta property="og:title" content="{{ title | default(site.name) }}" />
    <meta property="og:description" content="{{ description | default(site.description) }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{ site.name }}" />
  </head>
  <body>
    {% include "header.njk" %}
    <main{% if mainClass %} class="{{ mainClass }}"{% endif %}>
      {{ content | safe }}
    </main>
  </body>
</html>
