<header>
  <h1><a href="/">Laura Junco</a></h1>

  <nav class="main-nav">
    <menu>
      <li><a class="{% if page.url == '/' %}active{% endif %}" href="/">Work</a></li>
      <li><a class="{% if page.url == '/about/' %}active{% endif %}" href="/about/">About</a></li>
      <li><a class="{% if page.url == '/cv/' %}active{% endif %}" href="/cv/">CV</a></li>
      <li><a class="{% if page.url == '/blog/' %}active{% endif %}" href="/blog/">Blog</a></li>
    </menu>
  </nav>
</header>
