<header>
  <h1><a href="/">{{ site.name }}</a></h1>

  <nav class="main-nav">
    <menu>
      {% for item in navigation %}
        <li>
          <a
            class="{% if navActive == item.key or (item.key == 'work' and page.url == '/') %}active{% endif %}"
            href="{{ item.url }}"
          >{{ item.label }}</a>
        </li>
      {% endfor %}
    </menu>
  </nav>
</header>
