---
layout: base.njk
title: Blog
---

<section class="blog-page">
  <ul class="blog-posts">
    {% for post in collections.blog | sort(attribute="data.date") | reverse %}
      {% if post.url != "/blog/" %}
        <li>
          <span>
            <i><time>{{ post.data.date | dateFilter }}</time></i>
          </span>
          {% if post.data.url %}
            <a class="external" target="_blank" href="{{ post.data.url }}">{{ post.data.title }}</a>
          {% else %}
            <a href="{{ post.url }}">{{ post.data.title }}</a>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>
