---
layout: base.njk
navActive: blog
title: "Blog"
---

<section class="blog-page">
  <ul class="blog-posts">
    {% for post in collections.blog %}
      <li>
        <span>
          <i><time>{{ post.date | dateFilter }}</time></i>
        </span>
        {% if post.type == "local" %}
          <a href="{{ post.url }}">{{ post.title }}</a>
        {% else %}
          <a class="external" target="_blank" href="{{ post.url }}">{{ post.title }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</section>
